.input {
  width: 100%;
  background: #343a40;
  color: #b3bbc4;
  border: 1px solid #31363c;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 14px; 
}

.input:active,
.input:focus {
  outline: none;
  box-shadow: 0px 2px 4px #31363c;
}